


$susy : (
  columns: 12,
  gutter: 2,
  global-box-sizing: border-box,
  container: 1024px,
  container-position: center
);

@include border-box-sizing;


//Content ------------------------------------
.layout {
  @include container();
  padding: 0 3%;

}